@model Coffee_PryStore.Models.User

<h1>Ласкаво просимо, @Model.Email!</h1>

<p>Це ваша панель користувача.</p>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Email</td>
            <td>@Model.Role</td>
            <td>
                <form method="post" asp-action="Delete" asp-route-id="@Model.Id">
                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                </form>
                <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@Model.Id">Details</a>
            </td>
        </tr>
    </tbody>
</table>
