@inject LanguageService language
@{
    var currentLanguage = ViewData["CurrentLanguage"]?.ToString();
}
<!DOCTYPE html>
<html lang="@currentLanguage">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Coffee PryStore - Your online coffee shop" />
    <meta name="keywords" content="coffee, shop, online, e-commerce" />
    <title>@ViewData["Title"] - Coffee PryStore</title>
    <link rel="icon" type="image/png" href="@Url.Content("~/Attributes/Images/signview.png")">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Coffee_PryStore.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LanguageLearn.styles.css" asp-append-version="true" />
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex: 1;
        }

        footer {
            flex-shrink: 0;
            background-color: #343a40;
            color: white;
            text-align: center;
            padding: 0.2rem 3rem; 
            font-size: 18px;
            width: 100%;
            position: relative;
            bottom: 0;
        }


    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Coffee PryStore</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="AboutUs" asp-action="AboutUs">
                                @if (currentLanguage == "en-US")
                                {
                                    <text>About us</text>
                                }
                                else if (currentLanguage == "uk-UA")
                                {
                                    <text>Про нас</text>
                                }
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Basket" asp-action="Basket">
                                @if (currentLanguage == "en-US")
                                {
                                    <text>Cart</text>
                                }
                                else if (currentLanguage == "uk-UA")
                                {
                                    <text>Кошик</text>
                                }
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="History" asp-action="History">
                                @if (currentLanguage == "en-US")
                                {
                                    <text>Information about coffee</text>
                                }
                                else if (currentLanguage == "uk-UA")
                                {
                                    <text>Інформація про каву</text>
                                }
                            </a>
                        </li>

                        @if (Context.Session.GetInt32("UserId") != null)
                        {
                            var userRole = Context.Session.GetString("UserRole");
                            var userEmail = Context.Session.GetString("UserEmail");

                        
                            if (userRole == "Admin" || userEmail == "pryimak@gmail.com")
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Admin" asp-action="AdminDashboard">
                                        @if (currentLanguage == "en-US")
                                        {
                                            <text>Administrator panel</text>
                                        }
                                        else if (currentLanguage == "uk-UA")
                                        {
                                            <text>Панель адміністратора</text>
                                        }
                                    </a>
                                </li>
                            }
                           
                            else if (userRole == "User")
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="User" asp-action="UserDashboard">
                                        @if (currentLanguage == "en-US")
                                        {
                                            <text>Panel</text>
                                        }
                                        else if (currentLanguage == "uk-UA")
                                        {
                                            <text>Панель</text>
                                        }
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="User" asp-action="UserProfile" asp-route-id="@Context.Session.GetInt32("UserId")">
                                        @if (currentLanguage == "en-US")
                                        {
                                            <text>Profile</text>
                                        }
                                        else if (currentLanguage == "uk-UA")
                                        {
                                            <text>Профіль</text>
                                        }
                                    </a>
                                </li>
                            }

                   
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="PersonRegistration" asp-action="Logout">
                                    @if (currentLanguage == "en-US")
                                    {
                                        <text>Exit</text>
                                    }
                                    else if (currentLanguage == "uk-UA")
                                    {
                                        <text>Вихід</text>
                                    }
                                </a>
                            </li>
                        }
                        else
                        {

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("PersonRegistration", "PersonRegistration")">
                                    @if (currentLanguage == "en-US")
                                    {
                                        <text>Login/Registration</text>
                                    }
                                    else if (currentLanguage == "uk-UA")
                                    {
                                        <text>Вхід/Реєстрація</text>
                                    }
                                </a>
                            </li>
                        }

                    </ul>

                    <ul class="navbar-nav">
                        <li>
                            <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-US" asp-route-returnUrl="@Context.Request.Path" class="nav-link">
                                <i class="flag-icon flag-icon-us"></i> English
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="uk-UA" asp-route-returnUrl="@Context.Request.Path" class="nav-link">
                                <i class="flag-icon flag-icon-ua"></i> Українська
                            </a>
                        </li>
                    </ul>


                    <form class="d-flex" asp-controller="Search" asp-action="Index" method="get">
                        <input class="form-control me-2" type="search" name="searchTerm" placeholder="@((currentLanguage == "en-US") ? "Search products" : "Пошук товарів")" aria-label="Пошук" />
                        <button class="btn btn-outline-light" type="submit">
                            @if (currentLanguage == "en-US")
                            {
                                <text>Search</text>
                            }
                            else if (currentLanguage == "uk-UA")
                            {
                                <text>Пошук</text>
                            }
                        </button>
                    </form>

                </div>
            </div>
        </nav>
    </header>

    <div class="container mt-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container text-center py-4">
           
            <p>
                <strong>
                    @if (currentLanguage == "en-US")
                    {
                        <text>Contact Us:</text>
                    }
                    else if (currentLanguage == "uk-UA")
                    {
                        <text>Зв'яжіться з нами:</text>
                    }
                </strong><br>
                <a href="mailto:info@coffeepystore.com">info@coffeeprystore.com</a><br>
                <small>
                    @if (currentLanguage == "en-US")
                    {
                        <text>
                            We are happy to answer your questions and provide more information.            &copy; 2024 - Coffee PryStore
                         </text>
                    }
                    else if (currentLanguage == "uk-UA")
                    {
                        <text>
                            Ми раді відповісти на ваші запитання та надати більше інформації.              &copy; 2024 - Coffee PryStore

                        </text>
                    }
                </small>
            </p>
        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
