<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Coffee_PryStore_MainPage</title>
    <link rel="icon" type="image/png" href="@Url.Content("~/Attributes/Images/cupwittclouds.png")">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Coffee_PryStore.styles.css" asp-append-version="true" />
    <style>
        /* CSS для закріплення футера на низу */
        html, body {
            height: 100%;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        main {
            flex: 1;
        }

        footer {
            flex-shrink: 0;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Coffee PryStore</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/Cart">Кошик</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Products">Товари</a>
                        </li>
                      

                        @if (Context.Session.GetInt32("UserId") != null)
                        {
                            var userRole = Context.Session.GetString("UserRole");

                            if (userRole == "Admin")
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("AdminDashboard", "Admin")">Панель адміністратора</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("UserProfile", "Admin", new { id = Context.Session.GetInt32("UserId") })">Профіль</a>
                                </li>
                            }
                            else if (userRole == "User")
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("UserProfile", "User", new { id = Context.Session.GetInt32("UserId") })">Профіль</a>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("PersonRegistration", "PersonRegistration")">Вхід/Реєстрація</a>
                            </li>
                        }
                    </ul>

                    <form class="d-flex" action="/Products/Search" method="get">
                        <input class="form-control me-2" type="search" name="searchTerm" placeholder="Пошук товарів" aria-label="Пошук" />
                        <button class="btn btn-outline-light" type="submit">Пошук</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>


    <div class="container mt-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-dark text-light text-center py-3">
        <div class="container">
            &copy; 2024 - Coffee PryStore
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
