@model List<Coffee_PryStore.Models.Table>

@{
    ViewData["Title"] = "Усі товари";
}

<h2>Усі товари</h2>

<table class="table">
    <thead>
        <tr>
            <th>Назва</th>
            <th>Категорія</th>
            <th>Ціна</th>
            <th>Кількість</th>
            <th>Термін зберігання</th>
            <th>Зображення</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CofName)</td>
                <td>@Html.DisplayFor(modelItem => item.CofCateg)</td>
                <td>@Html.DisplayFor(modelItem => item.CofPrice)</td>
                <td>@Html.DisplayFor(modelItem => item.CofAmount)</td>
                <td>@Html.DisplayFor(modelItem => item.CofDuration)</td>
                <td>
                    <img src="@(item.ImageData != null ? $"data:image/jpeg;base64,{Convert.ToBase64String(item.ImageData)}" : "/Attributes/Images/placeholder.png")" class="img-thumbnail" alt="@item.CofName" />
                </td>
                <td>
                    <a asp-action="EditProduct" asp-route-id="@item.CofId">Редагувати</a>
                    <a asp-action="DeleteProduct" asp-route-id="@item.CofId">Видалити</a>

                
                </td>
            </tr>
        }
    </tbody>
</table>

<td>
    <a href="@Url.Action("Index", "Home")" class="btn btn-secondary mt-3">На головну сторінку</a>
    <a asp-action="CreateProduct" asp-controller="Admin" class="btn btn-secondary mt-3">Створити товар</a>
    <a href="@Url.Action("AdminDashboard", "Admin")" class="btn btn-secondary mt-3">На сторінку адміністратора</a>
</td>
